
/*.modal.in .modal-dialog {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate( -50% , 0 );
    margin: 0;
}*/
.modal-lg {
  width: 99%; }

.modal-sm {
  width: 60%; }
.modal-content {
  /*height: 95vh;*/
  min-height: 95vh; }

.modal-dialog {
    margin: 15px auto;
}