@charset "UTF-8";
/* line 1, ../sass/reset.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* line 8, ../sass/reset.sass */
ol, ul {
  list-style: none;
}

/* line 11, ../sass/reset.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 14, ../sass/reset.sass */
audio, canvas, video {
  display: inline-block;
}

/* line 17, ../sass/reset.sass */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 21, ../sass/reset.sass */
[hidden] {
  display: none;
}

/* line 25, ../sass/reset.sass */
a:focus {
  outline: thin dotted;
}
/* line 27, ../sass/reset.sass */
a:active, a:hover {
  outline: 0;
}

/* line 30, ../sass/reset.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 33, ../sass/reset.sass */
b, strong {
  font-weight: bold;
}

/* line 36, ../sass/reset.sass */
dfn {
  font-style: italic;
}

/* line 39, ../sass/reset.sass */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 44, ../sass/reset.sass */
mark {
  background: #ff0;
  color: #000;
}

/* line 48, ../sass/reset.sass */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 52, ../sass/reset.sass */
pre {
  white-space: pre-wrap;
}

/* line 55, ../sass/reset.sass */
q {
  quotes: "“" "”" "‘" "’";
}

/* line 58, ../sass/reset.sass */
small {
  font-size: 80%;
}

/* line 61, ../sass/reset.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 67, ../sass/reset.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 74, ../sass/reset.sass */
sub {
  bottom: -0.25em;
}

/* line 77, ../sass/reset.sass */
img {
  max-width: 100%;
  height: auto;
}

/* line 81, ../sass/reset.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 84, ../sass/reset.sass */
figure {
  margin: 0;
}

/* line 87, ../sass/reset.sass */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 92, ../sass/reset.sass */
legend {
  border: 0;
  padding: 0;
}

/* line 96, ../sass/reset.sass */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 101, ../sass/reset.sass */
button, input {
  line-height: normal;
}

/* line 104, ../sass/reset.sass */
button, select {
  text-transform: none;
}

/* line 107, ../sass/reset.sass */
button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 112, ../sass/reset.sass */
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 116, ../sass/reset.sass */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 120, ../sass/reset.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
/* line 123, ../sass/reset.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 128, ../sass/reset.sass */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 131, ../sass/reset.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 135, ../sass/reset.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 139, ../sass/reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 142, ../sass/reset.sass */
.clearfix {
  zoom: 1;
}
/* line 143, ../sass/reset.sass */
.clearfix:before {
  content: "";
  display: table;
}
/* line 146, ../sass/reset.sass */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 151, ../sass/reset.sass */
html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
}

/* line 156, ../sass/reset.sass */
a {
  text-decoration: none;
  color: black;
}
